/* Contenue */
html, #content {
  width: 100%;
  height: 100%;
  text-align: center;
}

h2 {
  font-size: 4rem;
}

/* Menu */
header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100px;
  z-index: 4;
  background-color: #fff;
  padding: 20px;
}

#menu ul {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}

#menu li {
  min-width: 100px;
}

#menu a {
  color: #333;
  font-size: 2rem;
}

/* Presentation */
#presentation {
  background-image: url('../images/devanture.jpg');
  background-position: center;
  -webkit-background-size: cover;
  background-size: cover;
  width: 100%;
  height: 100%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column wrap;
  color: #fff;
  margin-top: 120px;
  font-size: 2rem;
}

#presentation::after {
  content: "";
  background-color: #000;
  opacity: 0.7;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.pres_texte {
  z-index: 3;
}

.pres_texte strong {
  font-size: 2.5rem;
}

.pres_texte h1 {
  font-family: 'Bubbler One', sans-serif;
  font-size: 8rem;
  margin: 0;
}

.pres_texte p {
  margin: 0 0 10px 0;
}

/* Histoire */
#histoire {
  max-width: 1280px;
  margin: 0 auto;
  padding: 50px 0;
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  justify-content: center;
}

/* Produits */
#produits {
  display: flex;
  flex-flow: row nowrap;
  /*justify-content: center;*/
  align-items: center;
  max-width: 1280px;
  margin: 50px auto;
  padding: 20px;
  background-color: #d0f0c0;
  text-align: left;
}

.produit_text {
  max-width: 420px;
  margin: 40px;
}

.produit_text img {
  max-width: 420px;
}

/* Slideshow container */
.slideshow-container {
  max-width: 860px;
  position: relative;
  margin: auto;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

/* sante */
#sante {

}

/* Menu */
#menu {

}

/* Contact */
#carte {
  width: 1280px;
  height: 450px;
}

/* Responsive */
@media screen and (max-width: 1280px) {
  body {
    font-size: 1.4em;
  }

  /* Repas */
  #repas {
    width: 100%;
    padding: 50px;
  }
}

@media screen and (max-width: 767px) {
  /* Histoire */
  #histoire {
    padding: 50px
  }

  /* Produits */
  #produits {
    flex-flow: row wrap;
  }

  .produit_text {
    margin-left: 0;
    padding: 0 50px 50px 50px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    order: 1;
    width: 100%;
  }

  .produit_image {
    order: 2;
  }

  /* Repas */
  #repas {
    flex-flow: row wrap;
    justify-content: center;
  }

  .repas_text {
    width: 100%;
  }

  .repas_image {
    position: static;
    top: 0;
    right: 0;
  }
}
